body {
  background-color: #f8f9fa;
  max-width: 2000px;
  margin: 0 auto;
  font-family: Raleway;
}

@media screen and (max-width: 600px) {
  .MuiTypography-root {
    font-size: 3vw !important;
  }
}

@media screen and (max-width: 800px) {
  .css-1jv5mhm-MuiTypography-root {
    display: none;
  }
}
